<% @songs.each do |song| %>
  <div class="song">
    <h1><a href="/songs/<%= song.id %>"><%= song.title %></a></h1>
    <h6> By: <%= song.author %> </h6>
    <% unless song.url.nil? || song.url.empty? %>
      <a href="<%= song.url %>">Listen now online</a>
    <% end %>
    <div class="upvote"><%= song.upvotes.count %> Upvotes</div>
  </div>
<% end %>
