<div class="@song">
  <h1><%= @song.title %> </h1>
  <h4> By: <%= @song.author %> </h4>
  <h6> Posted by: <%= @song.member ? @song.member.username : "Anonymous" %> </h6>
  <% unless @song.url.nil? || @song.url.empty? %>
    <a href="<%= @song.url %>">Listen now online</a>
  <% end %>
  <div><%= @song.upvotes.count %> Upvotes</div>
  <% if session[:username] %>
    <% unless Member.where(username: session[:username])[0].has_upvote(@song.id) %>
      <form method="post" action="/submit/upvote">
        <input type="hidden" name="song" value="<%=@song.id%>">
        <input type="submit" value="Upvote">
      </form>
    <% else %>
      <form method="post" action="/submit/unvote">
        <input type="hidden" name="song" value="<%=@song.id%>">
        <input type="submit" value="Remove Upvote">
      </form>
    <% end %>
    <form method="post" action="/sumbit/comment">
      <input type="hidden" name="song" value="<%=@song.id%>">
      <textarea rows="4" cols="50" name="content">
      </textarea>
      <input type="submit" value="Submit Comment">
    </form>
  <% else %>
    <span>Login to upvote or comment this song</span>
  <% end %>
</div>
