<div class="@song">
  <h1><%= @song.title %> </h1>
  <h6> By: <%= @song.author %> </h6>
  <% if @song.url %>
    <a href="<%= @song.url %>">Listen now online</a>
  <% else %>
    <span>No link given for <%= @song.title %>, sorry</span>
  <% end %>
  <div><%= @song.upvotes.count %> Upvotes</div>
  <% if session[:username] %>
    <form method="post" action="/submit/upvote">
      <input type="hidden" name="song" value="<%=@song.id%>">
      <input type="submit" value="Upvote">
    </form>
  <% else %>
    <span>Login to upvote this song</span>
  <% end %>
</div>
